@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
:root{
    --White: hsl(0, 0%, 100%);
    --main-bg: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--main-bg);
}
.main-content{
    width: 50%;
    border-radius: 10px;
    padding: 1.5em;
    margin: 0 auto;
    background: var(--White);
}
.qr img{
    border-radius: 10px;
    max-width: 100%;
}
.main-p{
    color: var(--Dark-blue);
    padding: 1em 0 1em 0; 
    font-weight: 700;
    word-spacing: .1em;
}
p{
    color: var(--Grayish-blue);
    padding-bottom: 1em;
    font-weight: 400;
}
.main-p, p{
    text-align: center;
    font-size: 15px;
}
.attribution{
    padding-top: 1em;
    font-size: 11px; text-align: center; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}
@media screen and (max-width:400px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: auto;
        padding: 1em;  
    }
    .main-content{
        margin: 0 auto 1em;
        width: 100%;
    }

}